# =============================================================================
#
# @package    <<PROJECT>>
#             for <<CUSTOMER>> on local venv
# 
# @version    v0.0.1  2025-09-24
# @author     pierre@amultis.dev
# @copyright  (C) 2022-2025 Pierre Veelen
#
# @python     3.13.7
#
# =============================================================================

# LOADING SETTINGS
# =======================================
#PyYAML==6.0.2
